<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk entry</title>
</head>
<body>
    <h1>Enter csv file</h1> -->


    <!-- enctype="multipart/form-data" is must to use in form tag to get file -->
    
    <!-- <div class="form-group">
      <label for="file">File</label>
      <input type="file" name="file" formControlName="file" (change)="onFileChange($event)">
      
  </div>  
<br><br>
  <button  (click)="bulkUpload()" class="button"  mat-raised-button >Bulk Upload</button> -->

<!-- </body>
</html> -->

<div class="content">
  <div  class="login-box">
      <h2>BULK UPLOAD</h2>
        <div class="user-box">
          <input type="file" name="file" formControlName="file" (change)="onFileChange($event)">
          <label>SELECT FILE</label>
        </div>
        <a>            
          <button (click)="bulkUpload()" style="margin-left:20px;"  class="button"  mat-raised-button>BULK ADD</button>
        </a>
    </div>
  </div>