
<div class="content">
    <div  class="login-box">
        <h2>Add Coupon</h2>
          <div class="user-box">
            <input [(ngModel)]="couponCode" type="text" name="" required="">
            <label>COUPON CODE</label>
          </div>
          <div class="user-box">
            <input [(ngModel)]="discountPercent" name="" required="">
            <label>DISCOUNT IN PERCENT</label>
          </div>
          <a>
               
            <button style="margin-left:20px;" (click)="addCoupon()" class="button"  mat-raised-button>ADD COUPON</button>
          </a>
      </div>
    </div>