<!-- <mat-card class="card" >
    <div class="cardcontent">
        <div class="description">
            <div>
                Name : {{product.name}}

            </div>
            <div>
                Brand: {{product.brand}}
            <br>
            </div>
            <div>
                Price: {{product.price}}
            <br>
            </div>  
            <button  (click)="deleteProduct()" style="margin-left:3%" mat-raised-button>Delete product</button>
             
    
        </div>
    
    </div>
    </mat-card> -->

    <div class="card">
        <img  style="height:200px;width:180px" src="{{product.img}}" border='0' alt='server error'/>
        <h1>{{product.name}}</h1>
        <p class="price">₹{{product.price}}</p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button (click)="deleteProduct()">Remove item</button></p>
      </div>