<div style="margin-top:20px">
<mat-form-field   appearance="fill">
    <mat-label >Category</mat-label>
    <select  (change)="filterList()" [(ngModel)]="category" matNativeControl required>
      <option selected value="Chair">Chair</option>
      <option value="Table">Table</option>
      <option value="Sofa">Sofa</option>
      <option  value="Bed">Bed</option>
      <option selected value="all">All</option>
    </select>
  </mat-form-field>
</div>
<div class="cards">
<!-- <div class="grid-container"> -->
  <app-product (notifyParent)="updateList($event)" *ngFor=" let oneproduct of products" [product]="oneproduct"></app-product>
<!-- </div> -->
</div>
